.header{
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 32px 0px; 
}
.header__nombreTitle{
    flex-grow: 1;
    display: flex;
    height: fit-content;
    margin-right: 1rem;
    margin-left: 3%;
}
.header__nombreTitle__icon{
    font-size: 20px;
    margin-right: 7px;
}
.header__nombreTitle__name{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #464646;    
}
.header__nav{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
.header__nav__link{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.header__nav__link:hover{
    transform: scale(1.1);
    font-weight: bold;
    color: #3F51B5;
    transition: .2s;
}
.header__contact{
    margin-left: 2rem;
    margin-right: 3%;
}
.header__contacto__email{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

/* Configuracion de responsive para tablets */

@media (max-width:768px){
    .header__nav{
        display: none;
    }
}
/*Configuracion de responsive para celular */
@media (max-width:400px){
    .header__contacto__email{
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
    }
}